@{
    Listing listing = ViewData["Listing"] as Listing;
    IList<Comment> comments = ViewData["Comments"] as IList<Comment>;
    var watchlist = ViewData["Watchlist"];
}

@model Comment
    
<div class="container-fluid">
    <hr/><h2 class="my-2 text-center">Active Listing - @listing?.Title</h2><hr/>
    <div class="row bbody d-flex justify-content-center">
        <div class="col-sm-5 m-3 card p-0 listingView shadow mb-3 bg-body rounded">
            <img class="img-fluid card-img-top" src="@listing.ImageUrl" alt="Image">
            <div class="card-body">
                <h2 class="card-title"> @listing.Title </h2>
                <p class="card-text"><b>Category:</b> @listing.Category </p>
                <p class="card-text"><b>Starting Bid:</b> @listing.StartAmount.ToString("c")</p>
                <p class="card-text"><b>Description:</b></p>
                <p class="card-text">@listing.Description</p>
                <small class="card-text text-muted"><b>Owner:</b> @listing.Author </small><br />
                <small class="card-text text-muted"><b>Date Added:</b> @listing.CreatedAt.ToString() </small>
            </div>
        </div>
        <div class="col-sm-5 m-3 card p-0 commentsView shadow mb-3 bg-body rounded">
            <div class="container-fluid h-100">
                <div class="row h-100">
                    <div class="col-12 h-25 m-3">
                        <div class="row h-100 m-auto">
                                <div class="col-6 mt-5">
                                    @if(User.Identity.IsAuthenticated && @listing.Author.ToString() == User.Identity.Name.ToString())
                                    {
                                        @if (@listing.ActiveStatus)
                                        { 
                                            <div class="mt-3 mx-3">
                                                <form asp-action="CloseBid" asp-route-id="@listing.ListingId" class="form" method="POST">
                                                    <div class="form=group">
                                                        <input type="text" name="listing" value="" hidden />
                                                    </div>
                                                    <div class="form=group">
                                                        <button class="btn btn-primary">Close Bid&nbsp;<i class="bi bi-x-circle"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                        }else if (!@listing.ActiveStatus)
                                        { 
                                            <div class="mt-3 mx-3">
                                                <form action="" class="form" method="POST">
                                                    <div class="form=group">
                                                        <input type="text" name="listing" value="" hidden/>
                                                    </div>
                                                    <div class="form=group">
                                                        <button class="btn btn-primary" disabled>Close Bid&nbsp;<i class="bi bi-x-circle"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                        }
                                    }else if (User.Identity.IsAuthenticated)
                                    {
                                        @if (@listing.ActiveStatus && @ViewBag.watchlist)
                                        {
                                                <form asp-action="RemoveItem" class="form" method="POST">
                                                    <div class="form=group">
                                                        <input type="text" name="id" value="@listing.ListingId" hidden />
                                                    </div>
                                                    <div class="form=group">
                                                        <button class="btn btn-primary">Remove from Watchlist&nbsp;<i class="bi bi-x-lg"></i></button>
                                                    </div>
                                                </form>
                                        } else if (@listing.ActiveStatus && !@ViewBag.watchlist)
                                        {
                                                <form asp-action="AddWatchItem" class="form" method="POST">
                                                    <div class="form=group">
                                                        <input type="text" name="id" value="@listing.ListingId" hidden />
                                                    </div>
                                                    <div class="form=group">
                                                        <button class="btn btn-primary">Add to Watchlist&nbsp;<i class="bi bi-heart-fill"></i></button>
                                                    </div>
                                                </form>
                                        }
                                    } else if (!User.Identity.IsAuthenticated)
                                    {
                                            <form action="" class="form" method="POST" disabled>
                                                <div class="form=group">
                                                    <input type="text" name="listing" value="" hidden>
                                                </div>
                                                <div class="form=group">
                                                    <button class="btn btn-primary" disabled>Add to Watchlist&nbsp;<i class="bi bi-heart-fill"></i></button >
                                                </div>
                                            </form>
                                    }
                                </div>
                                <div class="col-6 d-flex mt-2">
                                    <div>
                                    @if (@listing.ActiveStatus == true)
                                    {
                                        @if (@ViewBag.msg != "")
                                        {
                                            <div class="alert alert-info py-2" role="alert">@ViewBag.msg.ToString()</div>
                                        }
                                        <form asp-action="Bid" class="form" method="POST">
                                            <div class="form=group">
                                                <input type="text" name="id" value="@listing.ListingId" hidden />
                                            </div>
                                            <div class="input-group form-group my-3">
                                                <span class="input-group-text" id="basic-addon1">$</span>
                                                <input type="number" name="amount" class="form-control" placeholder="Bid" aria-describedby="basic-addon1" required>
                                            </div>
                                            <div class="form-group my-2">
                                                <button type="submit" class="btn btn-secondary">Place Bid</button>
                                            </div>
                                        </form>
                                    } else if (@listing.ActiveStatus == false)
                                    {
                                        <form asp-action="Bid" class="form" method="POST">
                                            <div class="form=group">
                                                <input type="text" name="id" value="@listing.ListingId" hidden />
                                            </div>
                                            <div class="input-group form-group my-3">
                                                <span class="input-group-text" id="basic-addon1">$</span>
                                                <input type="number" name="amount" class="form-control" placeholder="Bid" aria-describedby="basic-addon1" required disabled>
                                            </div>
                                            <div class="form-group my-2">
                                                <button type="submit" class="btn btn-secondary" disabled>Place Bid</button>
                                            </div>
                                        </form>

                                        <div class="alert alert-info mt-2 py-2" role="alert">
                                            <p><small>Bidding is closed for this item.</small></p>
                                        </div>
                                    }
                                        @* {% elif winner %}
                                            <div class="alert alert-success mt-4" role="alert"><p><small>Congratulations {{winner|title}}! You won the bid.</small></p></div>
                                        {% else %}
                                            <div class="alert alert-info mt-4" role="alert"><p><small>Bidding is closed for this item.</small></p></div>
                                        {% endif %} *@
                                    </div>
                                </div>
                            @* {% endif %} *@
                        </div>
                    </div>
                    <div class="col-12 h-75 mt-3">
                        <div class="row h-100">
                           <div class="row h-100">
                                <div class="col-6 h-100 p-3">
                                    <h3 class="mx-3">Comment Form</h3>
                                    <div class="container">
                                        <form asp-action="SaveComment" asp-route-id="@listing.ListingId" method="post">
                                            <div class="form-group my-3">
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <label asp-for="Name" class="form-lable">Name:</label>
                                                    <input asp-for="Name" value="@User.Identity.Name" class="form-control text-muted" readonly>
                                                }else
                                                {
                                                    <label asp-for="Name" class="form-lable">Name:</label>
                                                    <input asp-for="Name" type="text" class="form-control" required>
                                                }
                                            </div>
                                            <div class="form-group my-3" hidden>
                                                <input asp-for="ListingId" type="text" value=@listing.ListingId>
                                            </div>
                                            <div class="form-group my-3">
                                                <label asp-for="Review" class="form-lable">Comment:</label>
                                                <textarea asp-for="Review" class="form-control" rows="3" required></textarea>
                                            </div>
                                            <div class="form-group my-3">
                                                <input type="submit" class="btn btn-secondary" value="Submit">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-6 h-100 pt-3 container-fluid border-start">
                                        <p class="mb-3 ms-3"><b>Comments...</b></p>
                                        <div class="row w-100 d-flex justify-content-center comment-cont">
                                            @* {% if not listing.reviews.all %}
                                                <p>No comments</p>
                                            {% else %} *@
                                            @foreach (Comment c in comments)
                                            {
                                                <div class='col-11 shadow-sm mb-2 pt-3 h-auto bg-body rounded comment-card'>
                                                    <div class="mb-2">
                                                        <p> @c.Review</p>
                                                        <div class="d-flex justify-content-between">
                                                            <small class="text-muted"><sub><i class="bi bi-calendar-date"></i>&nbsp; @c.DateAdded</sub></small>
                                                            <small class="text-right"><sub><i class="bi bi-person"></i>&nbsp;@c.Name</sub></small>
                                                        </div>
                                                    </div>
                                                </div>                                       
                                            }
                                            @* {% endif %} *@
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>